body {
    font-family: 'Play', sans-serif;
    color: gray;
}

.container-fluid.Hero {
    color:aliceblue;
    margin: 0;
    margin-bottom: 100px;
    position: relative;
}

.Hero > div {
    background-color: lightblue;
    height: 250px;
    padding-top: 70px;
    
}

.seated-img, .programmer-img{
    width: 197px;
}

.col-sm-12.container {
    display: flex;
    justify-content: space-evenly;
}

.h1 > span {
    font-size: large;
    display: block;
}


.About-me {
    margin-bottom: 100px;
}


section.Hobbies {
    margin-bottom: 100px;
}
.Hobbies.h2 {
    margin-bottom: 50px;
}



section.Hobbies .text {
    text-align: left;
}


.programming.container {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    margin-bottom: 50px;
}

.programming.text {
    align-self: center;
    align-items: center;
}


.sports.container {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    margin-bottom: 50px;
}


.sports.text {
    align-self: center;
    align-items: center;
}



.business.container {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.business.text {
    align-self: center;
    align-items: center;
}

ul {
    text-align: left;
    list-style:none;
    margin: 0;
    padding: 0;
}

.Education.container {
    display: flex;
    justify-content: center;
}

.Education.container-fluid {
    margin-bottom: 100px;
}

.contact-me.container {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.contact-me.text {
 text-align: left;
}






@media (max-width: 1400px) {
    .Hero > div {
        height: 85vh;
    }

    .h1 {
        padding-top: 100px;
    }

    .col-sm-12.container{
        flex-direction: column;
    }

    .seated-img {
        display: none;
    }

    .programmer-img {
        align-self: center;
        padding-right: 250px;
    }

    .programming.container {
        flex-direction: column;
        row-gap: 10px;
    }

    .programming.text {
        text-align: center;
    }

    .sports.container {
        flex-direction: column;
    }

    .sports.text {
        order: 1;
    }

    .business.container {
        flex-direction: column;
    }


}